<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
	  <bindings>
		  <basicHttpBinding>
			  <binding name="app.modules.ws.controllers.ApiSoapControllerBinding">
				  <security mode="Transport" />
			  </binding>
			  <binding name="app.modules.ws.controllers.ApiSoapControllerBinding1" />
		  </basicHttpBinding>
	  </bindings>
	  <client>
		  <endpoint address="https://bo-emea.opinat.com/index.php/ws/api-soap/ws?ws=1"
			  binding="basicHttpBinding" bindingConfiguration="app.modules.ws.controllers.ApiSoapControllerBinding"
			  contract="wsOpinat.appmoduleswscontrollersApiSoapControllerPort"
			  name="app.modules.ws.controllers.ApiSoapControllerPort" />
	  </client>

  </system.serviceModel>
  <appSettings>
    <add key="FormatoFecha" value="8" />
    <add key="center_id" value="00000" />
    <add key="prefijo" value="CDLM-" />
    <add key="user_opinat" value="nps.clinicadelamujer" />
    <add key="pass_opinat" value="Nps2020*." />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>

</configuration>